<div class="row" *ngIf="isDateTimeVisible">
    <div class="col-md-6">
        <div class="panel panel-info panel-rl-margin">
            <div class="panel-heading custom-panel-height">
                <span class="pull-left">
                        <h5>Filter by Date</h5>
                    </span>
                <span class="pull-right">
                        <button class="btn btn-primary" (click)="searchFilteredData()">Set Date</button>
                        <button class="btn btn-danger" (click)="closeDateTime()">Cancel</button>
                    </span>
            </div>
            <div class="panel-body">
                <form>
                    <label>Select Date: </label><br>
                    <datepicker name="date" [(ngModel)]="dated" (dateChange)="onDateChange($event)"></datepicker>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Files Summaries for Districts <small>(Select district to view details)</small></h2> 
    </div>
</div>
<div class="row" *ngIf="districtView">
    <div class="col-md-2" *ngFor="let district of districts">
        <button class="btn btn-success small-tab" id="districtbtn-{{district.Id}}" (click)="showTehsils($event)">{{district.Name}}</button>
    </div>
</div>

<div class="row margin-top" *ngIf="dataChanged">
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Information!</strong> {{dataChangedMessage}}
          </div>
    </div>
</div>
<div class="row" *ngIf="summaryView">
    <div class="col-md-12">
        <div class="col-md-6">
            <table class="table table-responsive table-bordered table-stripped">
                <tr>
                    <th>Files Summary for District {{selectedDistrict}}</th>
                    <th>Count</th>
                </tr>
                <tr *ngFor="let summary of documentStatusSummary">
                    <td>{{documentStates[summary.Status]}}</td>
                    <td>{{summary.Count}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-responsive table-bordered table-stripped">
                <tr>
                    <th>Files Summary {{selectedTehsil}}</th>
                    <th>Count</th>
                </tr>
                <tr *ngFor="let summary of tehsilDocStatusSummary">
                    <td>{{documentStates[summary.Status]}}</td>
                    <td>{{summary.Count}}</td>
                </tr>
            </table>
        </div>
        
    </div>
</div>

<div class="row" *ngIf="tehsilsView">
    <div class="col-md-12">
        <div class="col-md-8">
            <h3>Tehsils List for {{selectedDistrict}}</h3>
        </div>
        <div class="col-md-4">
            <button class="btn btn-warning btn-block" (click)="showDistricts($event)">Back to Districts</button>
        </div>
    </div>
    <div id="tehsils-list" class="col-md-2 {{disableClass}}" *ngFor="let tehsil of districtTehsilsList">
        <button class="btn btn-success small-tab" id="tehsilbtn-{{tehsil.Id}}" (click)="showTehsilDetail($event)">{{tehsil.Name}}</button>
    </div>
</div>

<br>
<div class="row" *ngIf="chartView">
    <div class="col-md-6">
        <h4>{{selectedTehsil}}</h4>
    </div>
    <div class="col-md-6">
        <button class="btn btn-warning btn-block" (click)="showTehsilsView()">Back to Tehsils</button>
    </div>
    <div *ngIf="isSummaryLoading" class="col-md-12 margin-top">
        <div id="overlay" class="col-md-4" align="center">
            <img class="overlay-loader-transparent" id="loading" width="256" src="assets/images/ajax-loader.gif">
        </div>
    </div>
    <div *ngIf="isDataAvailable" class="col-md-12 margin-top">
        <canvas baseChart [datasets]="summaryData" [labels]="summaryLabels" [options]="summaryChartOptions" [legend]="summaryChartLegend"
            [chartType]="summaryChartType" [colors]="summaryChartColors">
        </canvas>
    </div>
</div>