<div class="row" *ngIf="isDateTimeVisible">
    <div class="col-md-6">
        <div class="panel panel-info panel-rl-margin">
            <div class="panel-heading custom-panel-height">
                <span class="pull-left">
                        <h5>Filter by Date</h5>
                    </span>
                <span class="pull-right">
                        <button class="btn btn-primary" (click)="searchFilteredData()">Set Date</button>
                        <button class="btn btn-danger" (click)="closeDateTime()">Cancel</button>
                    </span>
            </div>
            <div class="panel-body">
                <form>
                    <label>Select Date: </label><br>
                    <datepicker name="date" [(ngModel)]="dated" (dateChange)="onDateChange($event)"></datepicker>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="isDistrictsVisible">
    <div class="col-md-12">
        <h2>Districts List <small>(Click/Tap a district to view its revenue details)</small></h2>
    </div>
    <div class="col-md-2" *ngFor="let district of districts">
        <button class="btn btn-success small-tab" id="districtbtn-{{district.Id}}" (click)="showTehsils($event)">{{district.Name}}</button>
    </div>
</div>
<div class="row margin-top" *ngIf="dataChanged">
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Information!</strong> {{dataChangedMessage}}
          </div>
    </div>
</div>
<br>
<div class="row" *ngIf="!isDistrictsVisible">
    <div class="col-md-6">
        <h3>{{selectedDistrict}}</h3>
    </div>
    <div class="col-md-6">
        <button class="btn btn-warning btn-block" (click)="showDistricts()">Back to Districts</button>
    </div>
    <div *ngIf="isSummaryLoading" class="col-md-12 margin-top">
        <div id="overlay" class="col-md-4" align="center">
            <img class="overlay-loader-transparent" id="loading" width="256" src="assets/images/ajax-loader.gif">
        </div>
    </div>
    <div *ngIf="isSummaryLoaded" class="col-md-12 margin-top">
        <canvas baseChart [datasets]="summaryData" [labels]="summaryLabels" [options]="summaryChartOptions" [legend]="summaryChartLegend" [chartType]="summaryChartType"
            [colors]="summaryChartColors">
        </canvas>
    </div>
</div>
