<div class="row" *ngIf="isDateTimeVisible">
    <div class="col-md-6">
        <div class="panel panel-info panel-rl-margin">
            <div class="panel-heading custom-panel-height">
                <span class="pull-left">
                        <h5>Filter by Date</h5>
                    </span>
                <span class="pull-right">
                        <button class="btn btn-primary" (click)="searchFilteredData()">Search</button>
                        <button class="btn btn-danger" (click)="closeDateTime()">Cancel</button>
                </span>
            </div>
            <div class="panel-body">
                <form>
                    <label>Select Date: </label><br>
                    <datepicker name="date" [(ngModel)]="dated" (dateChange)="onDateChange($event)"></datepicker>
                </form>
                <!--<div class="col-md-8">
                        <ion-range-slider #timeSlider type="single" [min]="initialValue" max="30" grid="true" [values]="['8AM','9AM','10AM','11AM','12PM','1PM','2PM','3PM','4PM']"
                            (onFinish)="onTimeSelection($event)"></ion-range-slider>
                    </div>-->
            </div>
        </div>
    </div>

</div>

<div class="col-md-12 dashboard-heading-lg">
    <div class="col-md-6">
        <h3>Fards Summaries</h3>
    </div>
    <div class="col-md-6">
        <h3>Mutation Summaries</h3>
    </div>
</div>

<div class="col-sm-12 dashboard-heading-sm">
    <h4>Fard & Mutation Summaries</h4>
</div>

<!--List of Bar Charts-->
<div class="col-md-12">
    <div *ngIf="noFards" class="col-md-6">
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Information!</strong> No fards summary found for the selected date.
        </div>
    </div>

    <div *ngIf="isFardLoading" class="col-md-6 margin-top">
        <div id="overlay">
            <img class="overlay-loader" id="loading" width="24" src="assets/images/loading-small.gif">
        </div>
    </div>
    <div *ngIf="isFardLoaded" class="col-md-6 margin-top">
        <canvas baseChart [datasets]="fardData" [labels]="fardLabels" [options]="fardChartOptions" [legend]="fardChartLegend" [chartType]="fardChartType"
            [colors]="fardChartColors">
        </canvas>
    </div>

    <div *ngIf="isMutationLoading" class="col-md-6 margin-top">
        <div id="overlay">
            <img class="overlay-loader" id="loading" width="24" src="assets/images/loading-small.gif">
        </div>
    </div>
    <div *ngIf="isMutationLoaded" class="col-md-6 margin-top">
        <canvas baseChart [datasets]="mutationData" [labels]="mutationLabels" [options]="mutationChartOptions" [legend]="mutationChartLegend"
            [chartType]="mutationChartType" [colors]="mutationChartColors">
        </canvas>
    </div>

    <div *ngIf="noMutations" class="col-md-6">
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Information!</strong> No mutations summary found for the selected date.
        </div>
    </div>
</div>

<!--List of Doughnut Charts-->
<div class="col-md-12 margin-top">
    <div *ngIf="noFards" class="col-md-6">
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Information!</strong> No fards summary found for the selected date.
        </div>
    </div>

    <div *ngIf="isFardLoading" class="col-md-6">
        <div id="overlay">
            <img class="overlay-loader" id="loading" width="24" src="assets/images/loading-small.gif">
        </div>
    </div>

    <div *ngIf="isFardLoaded" class="col-md-6">
        <canvas baseChart [data]="fardDoughnutData" [labels]="fardLabels" [chartType]="fardDoughnutChartType">
        </canvas>
    </div>

    <div *ngIf="isMutationLoading" class="col-md-6">
        <div id="overlay">
            <img class="overlay-loader" id="loading" width="24" src="assets/images/loading-small.gif">
        </div>
    </div>

    <div *ngIf="isMutationLoaded" class="col-md-6">
        <canvas baseChart [data]="mutationDoughnutData" [labels]="mutationLabels" [chartType]="mutationDoughnutChartType">
        </canvas>
    </div>

    <div *ngIf="noMutations" class="col-md-6">
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Information!</strong> No mutations summary found for the selected date.
        </div>
    </div>
</div>